body {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Adding space between sections besides last*/
section:not(:last-of-type) {
    margin-bottom: 50px;
}

/* disable highlight photos */
img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* header bar background */
#navbar-container {
    background-color: black;
    height:75px;
}

/* MF logo header image */
.container img {
    max-width: 200px; /* Adjust width as needed */
    max-height: auto; /* Adjust height as needed */
}

/* nav bar font */
.nav-link {
    color: grey;
    margin: 2px;
}

/*change hover color for nav bar items */
.nav-link:hover {
    color: #3BC4ED; 
}

/* background for front page gradient */
#main-graphic-container {
    max-height: 675px;
    width: auto;
    background: linear-gradient(to bottom, #6736A8, #F8A6F8, white);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* character image*/
#characters {
    max-width: 45%;
    max-height: auto; 
    height: auto;
    width: auto;
    margin: 20px;
    
}

/* main graphic header*/
h1 {
    font-size: 55px;
    font-weight: bold;
    margin: 20px;
}

p {
    color:black;
}

/* button styles for default page */
.btn {
    border-radius: 50px;
    background-color: #637cda;
    color: white;
    transition: 0.10s;
    padding: 8px 16px;
}

/* space between submit buttons */
.button-group {
    display: flex;
    gap: 15px;
}

/* other color button */
.return-home {
    border-radius: 50px;
    background-color: transparent;
    color: #637cda;
    transition: 0.1s;
    padding: 8px 16px;
    border: 2px solid #637cda; 
}

.btn:hover {
    transform: scale(1.07);
    background-color: #4060d4;
    color: white;
}

/* other color button */
.return-home:hover {
    transform: scale(1.07);
    background-color: white;
    color: #4060d4;
}

/* position card row more in center */
.row.g-0 {
    margin-left: 100px;
    margin-right:100px;

}

/* clears default border around cards*/
.card {
    border-color:white;
}

/* icon size */
.card-icon {
    font-size: 50px;
    padding-bottom: 10px;
    transition: 0.10s;
}

/* card icons change colors */
.card-icon:hover {
    color: #74D3FA;
}

.card-title {
    font-weight: bold;
}

/* makes container black after homepage graphic*/
#black-container {
    background-color: black;
    padding:none;
    margin: none;
}

/* container that holds both columns */
.intermediate-container {
    margin-top: 25px;
    text-align: left;
    padding-left:auto;
    padding-right:auto;
}


/* Purple shadow around the iframe */
#soundcloud-container .purple-square {
    text-align: center;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    width: 85%; /* Adjust width as needed */
    max-width: 85%;
    margin-top: 25px;
    margin-bottom: 50px;
    height:450px;
  }
  
  /* Adjust iframe size and positioning */
  #soundcloud-container .purple-square iframe {
    width: 85%; /* Ensures iframe fills its container */
    height: 400px; /* Adjust height as needed */
    border-radius: 12px;
    padding: 0;
    margin: auto;
    text-align: center;
    box-shadow:
    5px 5px 10px rgba(111, 66, 193, 0.2),
    10px 10px 20px rgba(101, 52, 192, 0.3),
    15px 15px 30px rgba(86, 29, 191, 0.4),
    20px 20px 40px rgba(75, 15, 185, 0.5),
    25px 25px 50px rgba(33, 5, 84, 0.6);
  }
  
h2 {
    font-weight: bold;
    font-size: 45px;
    padding-bottom: 25px;
}


/* about us parapragh */
#about .container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.avatarImage {
    margin-left: 20px;
}

/* names in members cards */
.team-member-cards .card-title {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 0px;
  }

.team-member-cards .card-body h6.userSpan {
    font-size: 15px;
    margin: 0;
}

/* roles in member cards */
.team-member-cards .card-subtitle.mb-2.text-muted {
    font-size: 15px;
    margin: 0px;
}

/* card formatting for cards*/
#team-members-1, 
#team-members-2, 
#team-members-3, 
#team-members-4, 
#team-members-5, 
#team-members-6,
#team-members-7,
#team-members-8 {
    background-color: rgba(116, 211, 250, 0.45);
    border-radius: 12px;
    font-size: 20px;
    margin: 0;
    min-height:580px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* font size for member card paragraphs */
#team-members-1 .card-body p,
#team-members-2 .card-body p,
#team-members-3 .card-body p,
#team-members-4 .card-body p,
#team-members-5 .card-body p,
#team-members-6 .card-body p, 
#team-members-7 .card-body p,
#team-members-8 .card-body p {
    font-size: 15px; 
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
}

/* format soundcloud, spotify container in card */
#soundcloud, 
#black-spotify {
    margin-top: auto;
    margin-bottom: 25px;
  }

/* soundcloud logo on team cards */
#soundcloud img {
    height: 35px;
    width: auto;
    filter:invert(.5);
}

/* spotify logo on cards */
#black-spotify img {
    height: 26px;
    width: auto;
    filter:invert(.5);
}

/* card text substitute for soundcloud */
#soundcloud-text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 452;
    color: black;
    font-size: 12px;
    filter:invert(.5)
}

#soundcloud img:hover,
#black-spotify img:hover,
#soundcloud-text:hover {
    filter:invert(.4);
}

/* read more staff icon */
.arrow {
    border: none;
    background: none;
    font-size: 40px;
    padding: none;
}

/* arrow read more/less text */
#read-more {
    color:black;
    font-size: 20px;
}


/* Event section */
/* description of event text */
.event-description {
    text-align: left;
    padding-bottom: 25px;
}

/* resize event image */
.event-image {
    height:250px;
    width:auto;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s ease;
}

/* Bouncing effect for images */
.event-image:hover {
    animation: bounce 1s infinite; /* Slower and continuous bounce animation */
}

/* Define the bouncing animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px); 
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
}

/* event name titles */
.events-titles {
    font-weight:bold;
    padding-bottom: 5px;
    text-align: left;
    font-size:30px;
}

/* read more events link */
.read-more-events {
    font-weight: bold;
    text-decoration: none;
    color:black;
    padding-top:15px;
    display: inline-block;
}

.read-more-events:hover {
    color:#3BC4ED;
    text-decoration: underline;
    transition: color 0.2s ease, text-decoration 0.2s ease, transform 0.2s ease;
}

/* FAQ */
/* inside accordion (answer) */
.accordion-item {
    background-color: rgb(241, 241, 241);
    border-radius: 12px !important;
    font-size: 15px;
    align-items: center;
    margin-bottom: 10px;
}

/* answer text only */
.accordion-body.text-start {
    margin-left: 10px;
    margin-right: 10px;
}

/* accordion header */
.accordion-button {
    background-color: rgb(241, 241, 241);
    border-radius: 12px !important;
    font-size: 20px;
    padding: 25px;
}

/* Bar on the left side of the button */
.accordion-button::before {
    content: "";
    position: absolute;
    left: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    width: 5px; /* Width of the bar */
    height: 80%; /* Height of the bar */
    background-color: black; /* Color of the bar */
    border-radius: 5px; /* Optional: rounding the edges of the bar */
}

/* keeps header bold on close */
.accordion-button.collapsed {
    font-weight: bold;
}
  
/* keeps formatting bold on expand */
.accordion-button:not(.collapsed) {
    background-color: rgb(241, 241, 241);
    color: black;
    font-weight: bold;
}

/* gets rid of outline when accordion item clicked */
.accordion-button:focus {
    outline: none;
    box-shadow: none;
}


/* channel link format */
#channel-link {
    color: #C9CDFB;
    background-color: #383D6B;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}

#channel-link:hover {
    background-color: #5864f2;
    color: white;
    text-decoration: none;
}

/* mod ping formatting */
#mod-tag {
    color: #0F806A;
    background-color: #303B3D;
    padding: 3px;
    border-radius: 5px;
}

#mod-tag:hover {
    background-color: #2B4945;
    color: #0F806A;
}

#aotw-tag {
    color: #02ffd1;
    background-color: #303B3D;
    padding: 3px;
    border-radius: 5px;
}

#aotw-tag:hover {
    color: #02ffd1;
    background-color: #437867;
    padding: 3px;
    border-radius: 5px;
}

/* submission page color */
.submission-page {
    background: #e0e0e0;
}

.submission-container {
    margin: 8% auto; 
    vertical-align: middle;
    border: 2px solid #000;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    width: 66.66%;
    height: auto;
  }

/* left submission column */
#left-submission-container {
    background: linear-gradient(to bottom right, #6736A8, #F8A6F8);
    background-color: #ffffff; 
    border-right: 2px solid #000;
    border-radius: 12px 0px 0px 12px;
    width: 50%;
    padding:50px;
    height: 525px;
}

.col-md-6:last-child {
    flex: 1; /* Take up remaining space */
}

#right-submission-container {
    background: white;
    background-color: #ffffff; 
    border-right: 2px solid #000;
    border-radius: 0px 12px 12px 0px;
    width: 50%;
    padding:50px;
    height: 525px;
}


/* submission form input fields */
.custom-input {
    background-color: transparent;
    color: #6e6e6e; 
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    padding: 3px 10px;
    border-radius: 0px;
    width: 75%;
}
 
/* submission form input fields when clicked */
.custom-input:focus {
    outline: none;
    box-shadow: 0 0 3px #74D3FA; 
}

/* makes the left column disappear when collased + adds message to right side */
.collapsed-message {
    display: none;
  }

@media (max-width: 768px) {
#left-submission-container {
    display: none;
    }
    .collapsed-message {
      display: block;
      font-size: 20px;
      color: black;
      margin: 25px 0;
    }
}

/* join section */
#join-section { 
    background-color: rgb(241, 241, 241);
}

/* image */
.d-block.mx-auto {
    width: 75%; /* Adjust the width to make the image smaller */
    height: auto;
    padding-bottom: 25px;
  }

/* carousel control styles */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Adjust width of the arrows */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: style the arrow icons */
}

.carousel-arrow {
    width: 30%;
}

/* footer icons */
.footer-icon i {
    font-size:28px;
}
.footer-icon i:hover {
    color:#3BC4ED;
}

/* Scroll to top button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Remove background color */
    color: rgb(228, 228, 228); /* Icon color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 25px; /* Some padding */
    border-radius: 12px; /* Rounded corners */
    font-size: 40px; /* Increase font size */
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effects */
  }
  
  /* Change icon color on hover */
  #myBtn:hover {
    color: #3BC4ED; /* Icon color on hover */
    background-color: transparent; /* Keep background transparent */
  }








footer {
    background-color: black;
    color: white;
}


  





